{% extends 'new_ui/base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/new_ui/about.css' %}">
{% endblock %}

{% block content %}

    <div class="catalog-header">
        <h1>Мастер Хабаровск</h1>
        <h3>Мы делаем мир лучше, а людей счастливее</h3>
    </div>

    <div class="content">
        <div class="galery-content">
            <img id="galery-body" src="/static/imgs/about/4-min-1920x730.jpg" alt="">
        </div>
        <div class="actions">
            <h3 style="text-align: center; margin: 3rem 0;">Направления деятельности нашей компании</h3>
            <div class="actions-list">
                <div class="act">
                    Игровое оборудование
                </div>
                <div class="act">
                    Спортивное оборудование
                </div>
                <div class="act">
                    Обустройство территории
                </div>
            </div>
        </div>
        <div class="desc">
            <h4>ОСОБЕННОСТИ МАЛЫХ АРХИТЕКТУРНЫХ ФОРМ КОМПАНИИ «МАСТЕР».</h4>
            <span>Все малые архитектурные формы компании «Мастер» соответствуют ГОСТ-ам, имеют сертификаты качества и технические свидетельства.</span>

            <div class="info-block">
                <img src="{% static 'imgs/about/product_Features.jpg' %}" alt="">

                <ol>
                    <li>При окраске фанеры и дерева используются только профессиональные окрасочные составы ведущих концернов, применяются эластичные грунты, покрытые двумя слоями двухкомпонентной эмали на полиуретановом связующем. Элементы, окрашенные такой эмалью, не подвержены гниению, короблению и имеют лучшую стойкость к механическим повреждениям. С поверхностей, покрытых такими эмалями, легко удалять загрязнения. Для окраски металлических элементов применяются только порошковые полимерные покрытия. Такое покрытие прочное, с привлекательной гладкой поверхностью и глянцем.</li>
                    <li>Водостойкая фанера (ФСФ) не боится перепадов температур, влаги и прослужит много лет. Кромки фанеры тщательно обрабатываются, закругляются, зачищаются и дополнительно обрабатываются полимерными составами перед покраской.</li>
                    <li>Древесина - только класса «стойкие» и «среднестойкие» по ГОСТ 20022.2, не имеет на поверхности дефектов обработки. Влажность 10-12%.</li>
                    <li>Деревянные поверхности, подверженные абразивному воздействию земли и песка, покрываются двумя слоями грунта и двумя слоями бесцветного лака, что позволяет значительно продлить и сохранить красивый внешний вид всех изделий.</li>
                    <li>Металлические игровые элементы выполнены цельносварными для повышения жесткости и устойчивости конструкции.</li>
                    <li>Все узлы тщательно продуманы конструкторским отделом, болтовые соединения проверяются на прочность и геометрическую точность.</li>
                    <li>Все элементы фундаментов надежно защищены от коррозии специализированными покрытиями.</li>
                    <li>В узлах пересечения канатов применяются пластиковые соединительные элементы, защищающие руки детей.</li>
                    <li>При креплении канатов к несущим конструкциям применяются алюминиевые коуши, обеспечивающие многолетнюю эксплуатацию канатов без повреждений.</li>
                    <li>Все открытые болтовые соединения защищены пластиковыми заглушками, колпачками, улучшающими внешний вид, защищающими метизную продукцию от проникновения влаги и защищающими детей от травм.</li>
                    <li>Верхняя часть несущих деревянных конструкций защищена надежными, аккуратными пластиковыми колпаками.</li>
                    <li>Для игрового оборудования применяется стальной канат с цветной, яркой полипропиленовой оплеткой каждой жилы - такие канаты абсолютно безопасны для детей и очень надежны!</li>
                </ol>
            </div>

        </div>
        <div class="counts">
            <div class="count">
                <span class="count-value" style="color: red;">17</span>
                <span class="count-desc">ЛЕТ РАЗРАБОТКИ И ПРОИЗВОДСТВА</span>
            </div>
            <div class="count">
                <span class="count-value" style="color: orange;">8000</span>
                <span class="count-desc">ПЛОЩАДОК С ОБОРУДОВАНИЕМ ПО ВСЕЙ СТРАНЕ</span>
            </div>
            <div class="count">
                <span class="count-value" style="color: green;">26</span>
                <span class="count-desc">РЕГИОНОВ РОССИИ</span>
            </div>
        </div>
        <div class="steps">
            <span>Одним из приоритетов компании «Мастер» является поддержка физического здоровья населения. С этой целью мы реализуем такие проекты, как: веревочные парки, площадки для активного отдыха, воркаут, которые стабильно привлекают людей, небезразличных к спорту и туризму. Компания «Мастер» - один из лидеров в производстве малых архитектурных форм (МАФ), детского игрового, спортивного оборудования для детских игровых и спортивных площадок, изделий для благоустройства, а также комплексного благоустройства жилых территорий и социально значимых объектов в Сибирском федеральном округе, с богатой историей, опытом и устоявшейся репутацией.</span>

            <h2>Этапы производства</h2>
            <div class="steps-list">

                <div class="step">
                    <span class="num">1</span>
                    <span class="step-desc">Замеры объекта и подбор изделий</span>
                </div>
                <div class="step">
                    <span class="num">2</span>
                    <span class="step-desc">Моделирование макета в конструкторе площадок или заказ проекта у наших специалистов</span>
                </div>
                <div class="step">
                    <span class="num">3</span>
                    <span class="step-desc">Производство изделий</span>
                </div>
                <div class="step">
                    <span class="num">4</span>
                    <span class="step-desc">Доставка изделий и монтаж</span>
                </div>
                <div class="step">
                    <span class="num">5</span>
                    <span class="step-desc">Последующее обслуживание и ремонт</span>
                </div>

            </div>

        </div>
        <div class="choicers">
            <h3>Нас выбирают</h3>

            <div class="choicers-list">

                <div class="choicer">
                    <img src="{% static 'imgs/about/choice1.png' %}" alt="">
                    <span>Администрации районов</span>
                </div>
                <div class="choicer">
                    <img src="{% static 'imgs/about/choice2.png' %}" alt="">
                    <span>ТСЖ и Управляющие компании</span>
                </div>
                <div class="choicer">
                    <img src="{% static 'imgs/about/choice3.png' %}" alt="">
                    <span>Строительные организации</span>
                </div>
                <div class="choicer">
                    <img src="{% static 'imgs/about/choice4.png' %}" alt="">
                    <span>Частные лица</span>
                </div>

            </div>
        </div>
    </div>

    <script>

        function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms))
        }

        var ind = 1;

        function change_image() {

			ind++

            if (ind === 5) {
				ind = 1
            }
			document.getElementById('galery-body').setAttribute('src', `/static/imgs/about/${ind}-min-1920x730.jpg`)
        }

		setInterval(change_image, 5000)

    </script>
{% endblock %}
