<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/new_ui/base.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <meta name="description" content='Компания "Мастер" - производитель детского игрового и спортивного оборудования для благоустройства территории.'>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="navbar">

            <img id="logo" src="{% static 'imgs/logo.svg' %}">

            <ul class="main-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="/tos_projects">Для ТОС</a></li>
                <li><a href="/projects">Проекты</a></li>
                <li><a href="/about">О нас</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="/trash">Корзина</a></li>
                    <li><a href="/profile">Личный кабинет</a></li>
                {% endif %}
            </ul>

            <div class="link">
                {% if not request.user.is_authenticated %}
                    <a id="to_products_link" href="/login">Авторизоваться</a>
                {% else %}
                    <a id="to_products_link" href="/logout">Выйти</a>
                {% endif %}
            </div>
        </div>
        <div class="navbar-for_mobile">
            <div class="flexwrap">
            <img id="logo_mobile" src="{% static 'imgs/logo.svg' %}"></div>

            <div class="flexwrap">
                <button id="menu" onclick="show_menu()">Меню</button>
            </div>

            <div class="flexwrap">
            <div class="link-for_mobile">
                {% if not request.user.is_authenticated %}
                    <a id="to_products_link" href="/login">Войти</a>
                {% else %}
                    <a id="to_products_link" href="/logout">Выйти</a>
                {% endif %}
            </div></div>
        </div>
        <div id="mob_modal" class="menu-for_mobile" style="top: -100vh;">

            <div class="link-container">
                <a class="menu-li" href="/">Главная</a>
                <a class="menu-li" href="/catalog">Каталог</a>
                <a class="menu-li" href="/about">О нас</a>
                <a class="menu-li" href="/projects">Проекты</a>
                <a class="menu-li" href="/tos_projects">ТОС</a>
                {% if request.user.is_authenticated %}
                    <a class="menu-li" href="/trash">Корзина</a>
                    <a class="menu-li" href="/profile">Личный кабинет</a>
                {% endif %}
            </div>

            <div class="flexwrap">
                <button id="close_menu" onclick="close_menu()">Закрыть</button>
            </div>
        </div>

        <div class="content_main">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script>
        function show_menu(){
            if (document.getElementById('mob_modal').style.top == '-100vh'){
                document.getElementById('mob_modal').style.top = '10vh'}
            else{
                document.getElementById('mob_modal').style.top = '-100vh'}
        }

        function close_menu(){
            document.getElementById('mob_modal').style.top = '-100vh'
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>
