{% extends 'admin_panel/base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/admin_panel/order_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="head-block">
        <h1>Заказ {{order.id}}</h1>
    </div>
<div class="ag">
    <div class="main-details">
        <div class="popop">
        <h2>Товары:</h2>
        <table class="tlist">
            <thead>
                <tr>
                    <th>Код товара</th>
                    <th>Название товара</th>
                    <th>Количество товара</th>
                    <th>Цена товара</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
                {% for product in order_products %}
                    <tr id="o-{{product.id}}" >
                        <td>
                            <span>{{ product.product.product_code }}</span>
                        </td>
                        <td>
                            {{product.product.name}}
                        </td>
                        <td class="fio-td">
                            {{product.pcount}}
                        </td>
                        <td>
                            {{product.product.price|intcomma }}₽
                        </td>
                        <td>
                            {{product.total_price|intcomma}}₽
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
    </div>
    <div class="flex">
        <div class="user-details">
        {% if order.user.name or order.user.surname %}
            <h2>Заказчик:
            {% if order.user.name %}
                    {{order.user.name}}
            {% endif %}
            {% if order.user.surname %}
                {{order.user.surname}}
            {% endif %}</h2>
        {% endif %}
        {% if order.contacts %}
            <h2>Контакты заказчика:</h2>
                <span>{{order.contacts}}</span>
        {% endif %}
            <div class="fille"></div>
            <div class="io">
            <h2 class="inline-block">Общая стоимость: </h2><span class="inline-block">{{order.total_price|intcomma}}₽</span></div>

                <div class="io"><h2 class="inline-block">Оформлен: </h2><span class="inline-block">{{ order.create_at }}</span></div>

                <div class="io"><h2 class="inline-block">Статус: </h2><span class="inline-block">{{order.get_status_display}}</span></div>
        </div>
    </div>
    </div>
{% endblock %}
