{% extends 'admin_panel/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/admin_panel/orders.css' %}">
{% endblock %}

{% block content %}
    <div class="head-block">
        <h1>Управление заказами</h1>
    </div>
    <table class="tlist">
        <thead>
            <tr>
                <th>ID заказа</th>
                <th>Дата</th>
                <th>Статус заказа</th>
                <th>Фио заказчика</th>
                <th>Заказчик</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr id="o-{{order.id}}" >
                    <td onclick="document.location='order/{{order.id}}'">
                        <span>{{ order.id }}</span>
                    </td>
                    <td onclick="document.location='order/{{order.id}}'">
                        {{order.create_at}}
                    </td>
                    <td onclick="document.location='order/{{order.id}}'">
                        {{order.get_status_display}}
                    </td>
                    <td class="fio-td" onclick="document.location='order/{{order.id}}'">
                        {% if order.user.name %}
                             {{order.user.name}}
                        {% endif %}
                        {% if order.user.surname %}
                             {{order.user.surname}}
                        {% endif %}
                    </td>
                    <td onclick="document.location='order/{{order.id}}'">
                        {% if order.contacts %}
                             {{order.contacts}}
                        {% endif %}
                    </td>

                    <td>
                        <div class="actions-td">
                            <a class="edit" href="/admin_panel/orders/edit/{{ order.id }}">
                                <i class="material-icons-outlined">
                                    edit
                                </i>
                            </a>
                            <button  class="delete" onclick="delete_order({{order.id}})">
                                <i class="material-icons-outlined">
                                    delete
                                </i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="delete_modal" style="display: none">
        <div class="head">
            <h1 id="rm-modal-h"></h1>
        </div>
        <div class="body">
            <button id="cancel-button" type="button" onclick="document.getElementById('delete_modal').style.display = 'none'">Отмена</button>
            <button id="rm-button" type="button">Удалить</button>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/admin_panel/orders.js' %}"></script>
{% endblock %}
