{% extends 'admin_panel/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/admin_panel/ready_projects.css' %}">
{% endblock %}

{% block content %}
    <div class="head-block">
        <h1>Управление готовыми проектами</h1>
        <div class="add-link-block">
            <a class="am" href="/admin_panel/ready_projects/add">Добавить проект</a>
        </div>
    </div>

    <table class="tlist">
        <thead>
            <tr>
                <th>Внешний вид</th>
                <th>Код продукта</th>
                <th>Наименование</th>
                <th>Видео</th>
                <th>Цена</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for project in ready_projects %}
                <tr id="p-{{project.project.id}}">
                    <td>
                        {% if project.photo %}
                            <div class="project-image-block">
                                <img class="image_photo" src="{{ project.photo.url }}">
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if project.project.product_code %}
                            <span>{{ project.project.product_code }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if project.project.name %}
                            {{ project.project.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if project.video %}
                        <a class="project-video" href="{{ project.video }}">Видео проекта</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if project.project.price %}
                            {{ project.project.price }}₽
                        {% endif %}
                    </td>
                    <td>
                        <div class="actions-td">
                            <a class="edit" href="/admin_panel/ready_projects/edit/{{ project.project.id }}">
                                <i class="material-icons-outlined">
                                    edit
                                </i>
                            </a>
                            <button  class="delete" onclick="delete_project({{project.project.id}}, '{{project.project.product_code}}', 'ready')">
                                <i class="material-icons-outlined">
                                    delete
                                </i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="delete_modal" style="display: none">
        <div class="head">
            <h1 id="rm-modal-h"></h1>
        </div>
        <div id="bns" class="body">
            <button id="cancel-button" type="button" onclick="del_mod()">Отмена</button>
            <button id="rm-button" type="button">Удалить</button>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/admin_panel/projects.js' %}"></script>
    <script>
        function del_mod(){
            document.getElementById('delete_modal').style.display = 'none'
        }
    </script>
{% endblock %}

