@media (width > 500px) {
    .catalog-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 5rem 0;
        background-color: #560BAD;
        color: white;
    }

    .catalog-header > h1 {
        font-size: 60px;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .catalog-header > h3 {
        font-size: 40px;
        margin: 0;
    }

    .data {
        display: grid;
        padding: 1rem;
        width: calc(100% - 2rem);
        grid-template-columns: 15% 85%;
    }

    .data::-webkit-scrollbar {
        display: block;
    }

    .filter-select {
        width: 100%;
        margin-bottom: 0.75rem;
        font-size: 20px;
        padding: 0.2rem;
    }

    .filter-input {
        width: calc(100% - 0.4rem - 4px);
        margin-bottom: 0.75rem;
        font-size: 20px;
        padding: 0.2rem;
    }

    .products-list {
        margin-left: 1rem;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: start;
    }

    .tile{
        height: 2.2rem;
        overflow-y: hidden;
    }
    .catalog-product {
        position: relative;
        transition: all 0.2s ease-in-out;

        margin: 0.5rem;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 1rem;

        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
    }

    .catalog-product-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 22vh;
    }

    .catalog-product-image {
        max-height: 100%;
        max-width: 100%;
    }

    .catalog-product-data {
        display: flex;
        flex-direction: column;
    }

    .catalog-product-price {
        color: green;
        font-size: 20px;
        font-weight: 600;
    }

    .catalog-product-link {
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        bottom: 0.5rem;
        right: 1rem;
    }

    .prod-actions {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: end;

    }

    .prod-actions > button {
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 0.7vw;
        cursor: pointer;
    }

    .catalog-product-count {
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        width: 1.85vw;
        margin: 0 10px;
    }

    .filter-button {
        cursor: pointer;
        color: white;
        background-color: #447ddc;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        width: 100%;
        padding: 0.5rem 0;
    }

    .double-input {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .dinp {
        display: flex;
        margin-right: 0.5rem;
        flex-direction: column;
    }
    #clear{
        cursor: pointer;
        color: #447ddc;
        background-color: rgba(0, 150, 255, .098);
        font-size: 20px;
        border: 2px solid #447ddc;
        border-radius: 10px;
        width: 100%;
        padding: 0.5rem 0;
        margin-top: 0.5rem;
        display: grid;
        text-align: center;
    }

    .but-block{
        display: flex;
        flex-direction: row;
        margin-top: 0.4rem;
        position: absolute;
        bottom: 0;
        height: 2.5rem;
        justify-content: space-between;
        align-items: center
    }

    .link_to{
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        right: 1rem;
    }

    .for_mobile{
        display: none;
    }


}


@media (width <= 500px) {

    .catalog-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 1rem 0;
        background-color: #560BAD;
        color: white;
    }

    .close_button{
        cursor: pointer;
        color: red;
        background-color: inherit;
        font-size: 20px;
        border: 2px solid red;
        border-radius: 10px;
        width: 100%;
        padding: 0.5rem 0;
        margin-top: 2rem;
        display: inline-block;
        margin-bottom: 2rem;
    }

    .catalog-header > h1 {
        font-size: 40px;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .catalog-header > h3 {
        font-size: 25px;
        margin: 0;
        text-align: center;
    }
    .filters{
        width: calc(100vw - 2rem);
        background-color: #560BAD;
        background: rgba(255, 255, 255, 0.68);
        backdrop-filter: blur(7px) saturate(181%);
        -webkit-backdrop-filter: blur(7px) saturate(181%);
        position: absolute;
        z-index: 1000000;
        transition: all 1s;
        padding: 1rem;
        top: 0;
        height: calc(100vh - 2rem);
        right: 100vw;
    }

    .filters_but{
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    #filt_but{
        width: 100%;
        background-color: #4895EF;
        color: white;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        padding: 0.7rem 0;
        cursor: pointer;
    }

    .data {
        padding-bottom: 3rem;
        width: 100%;
    }

    .data::-webkit-scrollbar {
        display: block;
    }

    .filter-select {
        width: 100%;
        margin-bottom: 0.75rem;
        font-size: 20px;
        padding: 0.2rem;
    }

    .filter-input {
        width: calc(100% - 0.4rem - 4px);
        margin-bottom: 0.75rem;
        font-size: 20px;
        padding: 0.2rem;
    }

    .products-list {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: start;
    }

    .tile{
        height: 2.2rem;
        overflow-y: hidden;
    }
    .catalog-product {
        position: relative;
        transition: all 0.2s ease-in-out;

        margin: 0.5rem;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 1rem;

        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
    }

    .catalog-product-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 18vh;
    }

    .catalog-product-image {
        max-height: 100%;
        max-width: 100%;
    }

    .catalog-product-data {
        display: flex;
        flex-direction: column;
    }

    .catalog-product-price {
        color: green;
        font-size: 20px;
        font-weight: 600;
    }

    .catalog-product-link {
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        bottom: 0.5rem;
        right: 1rem;
    }

    .prod-actions {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: end;

    }

    .prod-actions > button {
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    .catalog-product-count {
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        width: 6.5vw;
        margin: 0 2vw;
    }

    .filter-button {
        cursor: pointer;
        color: white;
        background-color: #447ddc;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        width: 100%;
        padding: 0.5rem 0;
    }

    .double-input {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .dinp {
        display: flex;
        margin-right: 0.5rem;
        flex-direction: column;
    }
    #clear{
        cursor: pointer;
        color: #447ddc;
        background-color: rgba(0, 150, 255, .098);
        font-size: 20px;
        border: 2px solid #447ddc;
        border-radius: 10px;
        width: 100%;
        padding: 0.5rem 0;
        margin-top: 0.5rem;
        display: grid;
        text-align: center;
    }

    .but-block{
        display: flex;
        flex-direction: column;
        margin-top: 0.4rem;
        position: absolute;
        bottom: 0;
        justify-content: space-between;
        align-items: center
    }

    .link_to{
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        right: 1rem;
    }

    .catalog-product-button{
        margin-top: 1rem;
    }
}

.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #673ab7;
  /* расстояние от правого края окна браузера */
  left: 50px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #512da8; /* цвет заднего фона при наведении */
  }
}
