@media (width > 500px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 5rem 0;
        padding-bottom: 0;
        background-color: #560BAD;
        color: white;
    }


    .header > h3 {
        font-size: 40px;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .data-cont{
        padding: 2vh;
        width: calc(100% - 4vh);
    }

    .gr{
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .grid-ul{
        padding: 2vh;
        align-items: center;
        margin: 2vh;
        border: none;
        color: black;
        width: calc(100% - 8vh);
    }

    .image-h{
        overflow: hidden;
        justify-content: center;
    }

    .img{
        width: 100%;
        max-height: 70vh;
    }

    .catalog-product-link {
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        margin-right: calc(3rem + 5px);
    }

    .prod-actions {
        display: flex;
        flex-direction: row;
        width: calc(100%-3rem);
        justify-content: flex-end;

    }

    .prod-actions > button {
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        justify-content: center;
    }

    .catalog-product-count {
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        width: 5rem;
        margin: 0 10px;
    }
    .catalog-product-button{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 5vw;
        margin-right: 3rem;
    }

    .one > h2, .one > h3{
        margin-left: 3rem;
    }
}
@media (width <= 500px) {

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 1rem 0;
        padding-bottom: 0;
        background-color: #560BAD;
        color: white;
    }


    .header > h3 {
        font-size: 40px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .data-cont{
        padding: 2vh;
        width: calc(100% - 4vh);
    }

    .gr{
        display: grid;
        grid-template-columns: 100%;
    }

    .grid-ul{
        align-items: center;
        border: none;
        color: black;
        width: 100%;
    }

    .image-h{
        overflow: hidden;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .img{
        width: calc(100vw - 2rem);
        max-height: 70vh;
    }

    .catalog-product-link {
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    .prod-actions {
        display: flex;
        flex-direction: row;
        width: calc(100%-3rem);
        justify-content: flex-end;

    }

    .prod-actions > button {
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        justify-content: center;
    }

    .catalog-product-count {
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        width: 20vw;
        margin: 0 10px;
    }
    .catalog-product-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5vw;
        margin-bottom: 5vh;
    }

    .one > h2, .one > h3{
        margin-left: 3rem;
    }
    .nop{
        padding-left: 0.5rem;
    }
}
