@media (width > 500px) {

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 7rem 0;
        padding-bottom: 3rem;
        background-color: #68a9ec;
        color: white;
    }

    .header > h1 {
        font-size: 60px;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .header > h3 {
        font-size: 40px;
        margin: 0;
        text-align: center;
    }
    .for_mobile{
        display: none;
    }

    .video-holder{
        padding: 4rem 0rem;
        width: 100%;
        text-align: center;
        background-color: #68a9ec;
        padding-top: 2rem;
    }

    #vid{
        height: 50vh;
    }

    .photos{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        padding: 2rem;
        width: calc(100% - 4rem);
    }

    .photo{
        margin: 1rem;
        width: calc(100% - 2rem);
    }

    .ph{
        width: 100%;
    }

    .text{
        padding: 2rem;
        width: calc(100% - 10rem);
        background-color: #68a9ec;
        width: 86%;
        color: white;
        border-radius: 25px;
        margin-top: 2rem;
    }
    .description{
        padding-bottom: 2rem;
    }

    .wrapper{
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        width: 100%;
        padding-bottom: 4rem;
    }

}
@media (width <= 500px) {


    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 1rem 0;
        padding-bottom: 3rem;
        background-color: #68a9ec;
        color: white;
    }

    .header > h1 {
        font-size: 40px;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .header > h3 {
        font-size: 30px;
        margin: 0;
        text-align: center;
        text-align: center;
    }

    .video-holder{
        padding: 2rem 2rem;
        width: calc(100vw - 4rem);
        text-align: center;
        background-color: #68a9ec;

    }

    #vid{
        width: calc(100vw - 4rem);
    }

    .photos{
        display: grid;
        padding: 1rem;
        grid-template-columns: 100%;
        width: calc(100vw - 2rem);
    }

    .photo{
        width: 100%;
    }

    .ph{
        width: 100%;
    }

    .text{
        padding: 2rem 1rem;
        width: calc(100vw - 4rem);
        background-color: #68a9ec;
        color: white;
        border-radius: 25px;
        margin-top: 2rem;
    }
    .description{
        padding-bottom: 2rem;
    }

    .wrapper{
        display: flex;
        justify-content: center;
        width: 100vw;
        padding-bottom: 4rem;
    }
    .m{
        display: none;
    }

}
