@media (width > 500px) {
    .catalog-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 5rem 0;
        background-color: #560BAD;
        color: white;
    }

    .catalog-header > h1 {
        font-size: 60px;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .catalog-header > h3 {
        font-size: 40px;
        margin: 0;
    }
    .list{
        padding: 2vh;
        width: calc(100% - 4vh);
    }
    .grid{
        display: grid;
        width: 100%;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .project {
        position: relative;
        transition: all 0.2s ease-in-out;

        margin: 0.5rem;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 1rem;

        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
    }
    .image-h{
        width: 100%;
        padding-bottom: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25vh;
    }
    .pr-img{
        max-width: 100%;
        max-height: 100%;
    }
    .data-h {
        display: flex;
        flex-direction: column;
    }

    .project-price {
        color: green;
        font-size: 20px;
        font-weight: 600;
    }
    .but-block{
        display: flex;
        flex-direction: row;
        margin-top: 0.4rem;
        position: absolut;
        bottom: 0;
        height: 2.5rem;
        justify-content: space-between;
        align-items: center
    }

    .link_to{
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        right: 1rem;
    }

}
@media (width <= 500px) {

    .catalog-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 1rem 0;
        background-color: #560BAD;
        color: white;
    }

    .catalog-header > h1 {
        font-size: 40px;
        margin: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .catalog-header > h3 {
        font-size: 25px;
        margin: 0;
    }
    .list{
        padding: 1vh;
        width: calc(100% - 2vh);
    }
    .grid{
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
    }
    .project {
        position: relative;
        transition: all 0.2s ease-in-out;

        margin: 0.5rem;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 1rem;

        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
    }
    .image-h{
        width: 100%;
        padding-bottom: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
    }
    .pr-img{
        max-width: 100%;
        max-height: 100%;
    }
    .data-h {
        display: flex;
        flex-direction: column;
    }

    .project-price {
        color: green;
        font-size: 20px;
        font-weight: 600;
    }
    .but-block{
        display: flex;
        flex-direction: row;
        margin-top: 0.4rem;
        position: absolut;
        bottom: 0;
        height: 2.5rem;
        justify-content: space-between;
        align-items: center;
    }

    .link_to{
        display: block;
        background-color: #4895EF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        right: 1rem;
    }
    .list > h2{
        text-align: center;
    }

}
